<div class="movie">
{{#each model as |movie| }}
    <h1>{{movie.title}}</h1>
    <div class="movie-characters">
        <div>
            <h2>Characters</h2>
            <ul>
            {{#each movie.characters as |character|}}
                {{#link-to "characters.name" character.name}}
                    <li>{{character.name}}</li>
                {{/link-to}}
            {{else}}
                To be added
            {{/each}}
            </ul>
        </div>
        {{#if editMode }}
        <div>
            <h2>Add new characters</h2>
            <form>
                {{input class="large-input" value=name enter="addCharacterToMovie movie.title" placeholder="Character's name"}}
                <button {{action "addCharacterToMovie" movie.title}} type="submit">Add</button>
            </form>
        </div>
        {{/if}}
    </div>
{{/each}}
</div>
<h2>Other movies</h2>
