<div class="collection">
<div class="splash tower">
    {{#each model as |color| }}
        <div {{action "scrollTo" color.name}}>
            <h1>{{color.name}}</h1>
        </div>
    {{/each}}
</div>
{{#each model as |color| }}
    <div id ={{color.name}} class="tower">
        <h1>{{color.name}}</h1>
            <ul class="color-list">
            {{#each color.characters as |character| }}
                {{color-swatch name=character.name hex=character.hex}}
            {{/each}}
            </ul>
    </div>
{{/each}}
</div>
