<div class="collection">
{{#each model as |color| }}
    <div class="tower" style="background-color:{{color.hex}}">
        <h1 style="color: {{color.complement}}">{{color.name}}</h1>
            <ul class="color-list">
            {{#each color.characters as |character| }}
                 <li style="background-color: {{character.hex}}; color:{{color.complement}};">
                    {{#link-to "characters.name" character.name}}
                        <div>{{character.name}}</div>
                        <img src ="/images/clothes/{{character.garment}}.png">
                    {{/link-to}}
                </li>
            {{/each}}
            </ul>
    </div>
{{/each}}
</div>
