<div class="collection">
<div class="splash tower">
    {{#each model as |color| }}
            <h1 {{action "scrollTo" color.name}}>{{color.name}}</h1>
    {{/each}}
</div>
{{#each model as |color| }}
    <div id ={{color.name}} class="tower" style="background-color:{{color.hex}}">
        <h1 style="color: {{color.complement}}">{{color.name}}</h1>
            <ul class="color-list">
            {{#each color.characters as |character| }}
                 <li class="characterColor" style={{colorStyle}}>
                    {{#link-to "characters.name" character.name}}
                        <div>{{character.name}}</div>
                        <img src ="/images/clothes/{{character.garment}}.png">
                    {{/link-to}}
                </li>
            {{/each}}
            </ul>
    </div>
{{/each}}
</div>
